.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.bucket_style {
  width: 30%;
  background-color: skyblue;
  border: 3px solid skyblue;
  margin-bottom: 2px;
}

.todo_style {
  width: 30%;
  border: 3px solid lightcoral;
  margin-bottom: 1px;
}

.todo_item_style {
  border-bottom: 3px solid lightcoral;
  padding: 5px;
}

#add_text_style {
  display: flex;
}

.newtodo_style {
  border-top: 2px solid lightcoral;
  border-style: none;
  margin-top: 1px;
  padding: 5px;
  flex: 1;
  text-align: center;
  outline: none;
}

.checked_style {
  width: 30%;
  border-top: 3px solid lightseagreen;
  border-right: 3px solid lightseagreen;
  border-left: 3px solid lightseagreen;
}

.checked_item_style {
  border-bottom: 3px solid lightseagreen;
  padding: 5px;
}
