<% include partials/header %>
<div
  style="position:fixed; width:100%; height:100%; background-color: #fbeaeb; color: #2f3c7e"
>
  <div
    class="container"
    style="text-align: center; justify-content: center; margin-top: 20%"
  >
    <h1>As We Travel</h1>
    <hr />
    <a
      class="btn btn-lg"
      style="color: #fbeaeb; background-color: #2f3c7e"
      href="/places"
      role="button"
      >Start the journey</a
    >
  </div>
</div>
<% include partials/footer %>
