/* @import url("https://fonts.googleapis.com/css?family=Roboto"); */

/* Global Styles */
:root {
  --primary-color: #660000;
  --lighter-color: #993333;
  --dark-color: #000000;
  --light-color: #ff9999;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  background-color: var(--light-color);
}

.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  color: var(--light-color);
}

.navbar .navTitle h2 {
  margin: 0;
  padding: 5px;
}

.navLinks {
  display: flex;
  margin: 0;
}

.navLi {
  padding: 10px;
  text-decoration: none;
  color: var(--dark-color);
}

.navLi:hover {
  color: var(--primary-color);
  background-color: var(--dark-color);
}

.searchBar {
  padding: 0;
  margin: 2% 2%;
}

.searchBar > form > input {
  border-radius: 10px;
  padding: 1em 0;
  width: 100%;
  background: var(--light-color);
  border: 2px solid var(--lighter-color);
}

input:focus {
  outline: none;
}

@media (max-width: 600px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navLinks {
    display: block;
    text-align: center;
  }
  .navLi {
    float: none;
    width: 100%;
    padding: 4px 0px;
    margin-top: 2px 0px;
    display: inline-block;
  }
}

.container {
  margin: 2% 10%;
}
