/* @import url("https://fonts.googleapis.com/css?family=Roboto"); */

/* Global Styles */
:root {
  --primary-color: #5e66d8;
  --dark-color: #000000;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --light-grey-color: lightgrey;
  --dark-grey-color: darkgrey;
}

.navbar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
}

.navbar .navTitle h2 {
  margin: 0;
  padding: 5px;
}

.navLinks {
  display: flex;
  margin: 0;
}

.navLi {
  padding: 10px;
  text-decoration: none;
  color: var(--dark-color);
}

.navLi:hover {
  color: var(--primary-color);
  background-color: var(--dark-color);
}

@media (max-width: 600px) {
  .navbar {
    display: block;
    text-align: center;
  }
  .navLinks {
    display: block;
    text-align: center;
  }
  .navLi {
    float: none;
    width: 100%;
    padding: 4px 0px;
    margin-top: 2px 0px;
    display: inline-block;
  }
}

.container {
  margin: 0 10%;
}
.movieList {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /*grid-column-gap: 1em;
  grid-row-gap: 1em;*/
  grid-gap: 1em;
}

.movieItem {
  background: var(--light-grey-color);
}

.movieItem:nth-child(even) {
  background: var(--dark-grey-color);
}
