.container {
  margin: 5% 7.5%;
}

.backSearch {
  background: var(--lighter-color);
  text-decoration: none;
  color: var(--light-color);
  font-weight: bold;
  padding: 1%;
  border-radius: 1em;
}

.head {
  display: flex;
  justify-content: space-between;
  background: var(--lighter-color);
  padding: 0 1em;
  margin: 2% 0;
  border-radius: 2em;
}

.headLeft > h1 {
  text-align: center;
  margin: 0;
  color: var(--light-color);
}
.headRight > h2,
h5 {
  margin: 0;
  color: var(--primary-color);
}
.headRight > h2 > span {
  color: var(--light-color);
}
.headRight {
  text-align: center;
}
.headRight > h5 > span {
  color: var(--light-color);
}

.image {
  display: flex;
  justify-content: space-evenly;
  background: var(--lighter-color);
  padding: 1em 1em;
  margin: 2% 0%;
  border-radius: 2em;
}
.image > div > div > p {
  font-weight: bold;
  color: var(--light-color);
}
.image > div > div > p > strong {
  color: var(--primary-color);
}
.imageLeft > img {
  max-width: 250px;
  border-radius: 2em;
}
.imageRight1 {
  margin: 5%;
}
.imageRight1 > p {
  margin: 0%;
}
.imageRight2 {
  margin: 5%;
}
.imageRight2 > p {
  margin: 0%;
}
.imageRight3 {
  margin: 5%;
}
.imageRight3 > p {
  margin: 0%;
}
.imageRight4 {
  margin: 5%;
}
.imageRight4 > p {
  margin: 0%;
}

@media (max-width: 800px) {
  .head {
    display: block;
  }
  .headRight {
    padding: 2% 0%;
  }
  .image {
    display: block;
  }
  .imageLeft {
    display: flex;
    justify-content: space-around;
  }
  .imageLeft > img {
    max-width: 300px;
    border-radius: 2em;
  }
}
