:root {
  --primary-color: #81d4fa;
  --dark-color: #4ba3c7;
  --light-color: #b6ffff;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
}

nav {
  background-color: var(--dark-color);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav p {
  font-size: xx-large;
  font-weight: bold;
  line-height: 55px;
  padding: 0px 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  font-size: large;
  color: black;
  padding: 19px 20px;
  text-decoration: none;
}
nav ul li:hover {
  border-radius: 4px;
  background-color: var(--light-color);
}

@media (max-width: 800px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
    text-align: center;
    background-color: var(--dark-color);
  }
}

.App {
  text-align: center;
}
