:root {
  --primary-color: #ffccbc;
  --dark-color: #cb9b8c;
  --light-color: #ffffee;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
}

nav {
  background-color: var(--dark-color);
  height: 60px;
  width: 100%;
}

nav p {
  font-size: xx-large;
  font-weight: bold;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-size: large;
  color: black;
  padding: 19px 20px;
  text-decoration: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: var(--dark-color);
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  width: 210px;
  border-radius: 4px;
}

nav ul li ul li a {
  padding: 8px 14px;
}

nav ul li ul li a:hover {
  background-color: var(--light-color);
}

.App {
  text-align: center;
}
