:root {
  --primary-color: #d7ccc8;
  --dark-color: #a69b97;
  --light-color: #fffffb;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  background-color: var(--primary-color);
}

.headerBar {
  background-color: var(--dark-color);
  padding: 1%;
  display: flex;
}

.headerTitle {
  font-size: xx-large;
  font-weight: bold;
}

.App {
  text-align: center;
}
