body {
  background-color: #243665 !important;
}

.bg_gre {
  background-color: #8bd8bd;
}

.bg_blu {
  background-color: #243665;
}

.form-group {
  width: 50%;
  display: block;
  text-align: center;
  background-color: #4f6457;
}
